@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


header {
    padding-top: 1em;
}

main {
    background-color: lightgray;
}

.h1text {
    background-color: lightgray;
    padding-bottom: 15px;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.h3text,
.h3text1,
.h3text2,
.h3text3 {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.fa-temperature-low {
    color: lightskyblue;
}

.fa-temperature-high {
    color: lightsalmon;
}

.uk-search,
.uk-search-icon {
    color: black !important;
}

.uk-card-default {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem !important;
}

#current-weather-city,
#current-weather-date {
    font-size: 2rem !important;
    font-family: 'Roboto', sans-serif;
}

#search-panel {
    padding-bottom: 10px;
    height: 84vh;
}

.uk-card {
    margin: 10px;
}

.uk-card-body {
    font-size: 14px;
}

.uk-container {
    padding-top: 2em;
}

#clear-btn {
    border-radius: 5px;
}

/* Tablets and Smaller */
@media screen and (max-width: 768px) {
    body {
        width: 90%;
        margin: auto;
    }

    main {
        flex-direction: column;
    }

    .uk-card-body {
        font-size: 16px;
    }

    #forecast {
        flex-direction: column;
    }

    .forecast-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .forecast-item-body {
        text-align: left;
    }
}

/* Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    #current-weather-data {
        flex-direction: column;
        padding-top: 0px;
    }

    .forecast-item {
        justify-content: space-between;
    }

    p {
        margin-bottom: 0px;
        margin-top: 10px;
    }
}